@keyframes floating_10_px
{
    0%
    {
        transform: translate(0, 0);
    }
    50%
    {
        transform: translate(0, 10px);
    }
    100%
    {
        transform: translate(0, 0);
    }
    
}

@keyframes pulse
{
    0%
    {
        scale: 1;
    }
    25%
    {
        scale: 1.1;
    }
    50%
    {
        scale: 1.2
    }
    75%
    {
        scale: 1.1;
    }
    100%
    {
        scale: 1;
    }
}

path.logo_svg_hair_top {transition: all .6s ease;} 
path.logo_svg_hair_middle {transition: all .9s ease;} 
path.logo_svg_hair_bottom {transition: all 1.2s ease;}
path.logo_svg_shadow_arm {transition: all 1.8s ease;}
path.logo_svg_shadow_tale {transition: all 1.8s ease;}
path.logo_svg_body {transition: all 1.8s ease;}

svg[data-animation='true']:hover path.logo_svg_hair_top, 
svg[data-animation='true']:hover path.logo_svg_hair_middle, 
svg[data-animation='true']:hover path.logo_svg_hair_bottom,
svg[data-animation='true']:hover path.logo_svg_shadow_arm,
svg[data-animation='true']:hover path.logo_svg_shadow_tale,
svg[data-animation='true']:hover path.logo_svg_body
{
    transform: translate(0, -10px);
}

@media(hover: none) and (pointer: coarse){
    svg[data-animation='true']:active path.logo_svg_hair_top, 
    svg[data-animation='true']:active path.logo_svg_hair_middle, 
    svg[data-animation='true']:active path.logo_svg_hair_bottom,
    svg[data-animation='true']:active path.logo_svg_shadow_arm,
    svg[data-animation='true']:active path.logo_svg_shadow_tale,
    svg[data-animation='true']:active path.logo_svg_body
    {
        transform: translate(0, -10px);
    }

    .header_club_name_container > span:active
    {
        text-shadow: 0 0 10px var(--background-counter);
        color: var(--text-counter);
    }
}

@keyframes draw
{
    0%
    {
        stroke-dashoffset: var(--value);
        stroke-dasharray: var(--value);
    }
    100%
    {
        stroke-dashoffset: 0; 
    }
}

.header_club_name_container > span, 
.header_club_name_sub
{
    transition: all .3s ease;
}

.header_club_name_container > span:hover
{
    text-shadow: 0 0 10px var(--background-counter);
    color: var(--text-counter);
}

[css-hoverable~='box'],
[css-hoverable~='text'],
[css-hoverable~='icon'] svg,
[css-hoverable~='text_with_icon'],
[css-hoverable~='text_with_icon'] svg
{transition: all 0.3s ease;}

[css-hoverable~='box']:hover
{
    box-shadow: 0 0 5px var(--accent),
                0 0 15px var(--accent),
                0 0 40px var(--accent);
}

[css-hoverable~='text']:hover {color: var(--accent);}
[css-hoverable~='text_with_icon']:hover {color: var(--accent);}
[css-hoverable~='text_with_icon']:hover > svg {fill: var(--accent);}
[css-hoverable~='icon']:hover svg {fill: var(--accent);}