[css-flex]{display: flex; flex-shrink: 0;}
[css-flex~='vertical']{flex-direction: column;}
[css-flex~='justify_content_center']{justify-content: center;}
[css-flex~='justify_content_baseline']{justify-content: baseline;}
[css-flex~='justify_content_end']{justify-content: end;}
[css-flex~='justify_content_space_between']{justify-content: space-between;}
[css-flex~='justify_content_space_around']{justify-content: space-around;}
[css-flex~='justify_content_space_evenly']{justify-content: space-evenly;}
[css-flex~='align_items_center']{align-items: center;}
[css-flex~='align_items_baseline']{align-items: baseline;}
[css-flex~='align-items_end']{align-items: end;}
[css-flex~='gap_01_rem']{gap: .1rem;}
[css-flex~='gap_02_rem']{gap: .2rem;}
[css-flex~='gap_03_rem']{gap: .3rem;}
[css-flex~='gap_04_rem']{gap: .4rem;}
[css-flex~='gap_05_rem']{gap: .5rem;}
[css-flex~='gap_1_rem']{gap: 1rem;}
[css-flex~='gap_2_rem']{gap: 2rem;}
[css-flex~='gap_3_rem']{gap: 3rem;}

[css-position~='relative']{position: relative;}
[css-position~='absolute']{position: absolute;}

[css-width~='100_%']{width: 100%;}
[css-width~='90_%']{width: 90%;}
[css-width~='80_%']{width: 80%;}
[css-width~='70_%']{width: 70%;}
[css-width~='60_%']{width: 60%;}
[css-width~='50_%']{width: 50%;}
[css-width~='40_%']{width: 40%;}
[css-width~='30_%']{width: 30%;}
[css-width~='20_%']{width: 20%;}
[css-width~='10_%']{width: 10%;}
[css-width~='100_vw']{width: 100vw; max-width: 100%;}
[css-width~='2_rem']{width: 2rem;}
[css-width~='3_rem']{width: 3rem;}
[css-width~='4_rem']{width: 4rem;}
[css-width~='6_rem']{width: 6rem;}
[css-width~='8_rem']{width: 8rem;}
[css-width~='10_rem']{width: 10rem;}
[css-width~='10_rem']{width: 10rem;}
[css-width~='11_rem']{width: 11rem;}
[css-width~='12_rem']{width: 12rem;}
[css-width~='13_rem']{width: 13rem;}
[css-width~='14_rem']{width: 14rem;}
[css-width~='15_rem']{width: 15rem;}
[css-width~='16_rem']{width: 16rem;}
[css-width~='17_rem']{width: 17rem;}
[css-width~='18_rem']{width: 18rem;}
[css-width~='19_rem']{width: 19rem;}
[css-width~='20_rem']{width: 20rem;}
[css-width~='25_rem']{width: 25rem;}
[css-width~='30_rem']{width: 30rem;}
[css-width~='40_rem']{width: 40rem;}
[css-width~='80_rem']{width: 80rem;}

[css-height~='100_%']{height: 100%;}
[css-height~='90_%']{height: 90%;}
[css-height~='80_%']{height: 80%;}
[css-height~='70_%']{height: 70%;}
[css-height~='60_%']{height: 60%;}
[css-height~='50_%']{height: 50%;}
[css-height~='40_%']{height: 40%;}
[css-height~='30_%']{height: 30%;}
[css-height~='20_%']{height: 20%;}
[css-height~='10_%']{height: 10%;}
[css-height~='100_vh']{height: 100vh;}
[css-height~='5_px']{height: 5px;}
[css-height~='1_rem']{height: 1rem;}
[css-height~='2_rem']{height: 2rem;}
[css-height~='3_rem']{height: 3rem;}
[css-height~='4_rem']{height: 4rem;}
[css-height~='5_rem']{height: 5rem;}
[css-height~='10_rem']{height: 10rem;}
[css-height~='11_rem']{height: 11rem;}
[css-height~='12_rem']{height: 12rem;}
[css-height~='13_rem']{height: 13rem;}
[css-height~='14_rem']{height: 14rem;}
[css-height~='15_rem']{height: 15rem;}
[css-height~='16_rem']{height: 16rem;}
[css-height~='17_rem']{height: 17rem;}
[css-height~='18_rem']{height: 18rem;}
[css-height~='19_rem']{height: 19rem;}
[css-height~='20_rem']{height: 20rem;}
[css-height~='25_rem']{height: 25rem;}
[css-height~='30_rem']{height: 30rem;}
[css-height~='40_rem']{height: 40rem;}
[css-height~='80_rem']{height: 80rem;}

[css-margin~='1_rem']{margin: 1rem;}
[css-margin~='2_rem']{margin: 2rem;}
[css-margin~='3_rem']{margin: 3rem;}
[css-margin~='4_rem']{margin: 4rem;}
[css-margin~='5_rem']{margin: 5rem;}
[css-margin~='6_rem']{margin: 6rem;}
[css-margin~='7_rem']{margin: 7rem;}
[css-margin~='8_rem']{margin: 8rem;}
[css-margin~='9_rem']{margin: 9rem;}
[css-margin~='10_rem']{margin: 10rem;}
[css-margin~='left_1_rem']{margin-left: 1rem;}
[css-margin~='left_2_rem']{margin-left: 2rem;}
[css-margin~='left_3_rem']{margin-left: 3rem;}
[css-margin~='left_4_rem']{margin-left: 4rem;}
[css-margin~='left_5_rem']{margin-left: 5rem;}
[css-margin~='left_6_rem']{margin-left: 6rem;}
[css-margin~='left_7_rem']{margin-left: 7rem;}
[css-margin~='left_8_rem']{margin-left: 8rem;}
[css-margin~='left_9_rem']{margin-left: 9rem;}
[css-margin~='left_10_rem']{margin-left: 10rem;}
[css-margin~='top_1_rem']{margin-top: 1rem;}
[css-margin~='top_2_rem']{margin-top: 2rem;}
[css-margin~='top_3_rem']{margin-top: 3rem;}
[css-margin~='top_4_rem']{margin-top: 4rem;}
[css-margin~='top_5_rem']{margin-top: 5rem;}
[css-margin~='top_6_rem']{margin-top: 6rem;}
[css-margin~='top_7_rem']{margin-top: 7rem;}
[css-margin~='top_8_rem']{margin-top: 8rem;}
[css-margin~='top_9_rem']{margin-top: 9rem;}
[css-margin~='top_10_rem']{margin-top: 10rem;}
[css-margin~='right_1_rem']{margin-right: 1rem;}
[css-margin~='right_2_rem']{margin-right: 2rem;}
[css-margin~='right_3_rem']{margin-right: 3rem;}
[css-margin~='right_4_rem']{margin-right: 4rem;}
[css-margin~='right_5_rem']{margin-right: 5rem;}
[css-margin~='right_6_rem']{margin-right: 6rem;}
[css-margin~='right_7_rem']{margin-right: 7rem;}
[css-margin~='right_8_rem']{margin-right: 8rem;}
[css-margin~='right_9_rem']{margin-right: 9rem;}
[css-margin~='right_10_rem']{margin-right: 10rem;}
[css-margin~='bottom_1_rem']{margin-bottom: 1rem;}
[css-margin~='bottom_2_rem']{margin-bottom: 2rem;}
[css-margin~='bottom_3_rem']{margin-bottom: 3rem;}
[css-margin~='bottom_4_rem']{margin-bottom: 4rem;}
[css-margin~='bottom_5_rem']{margin-bottom: 5rem;}
[css-margin~='bottom_6_rem']{margin-bottom: 6rem;}
[css-margin~='bottom_7_rem']{margin-bottom: 7rem;}
[css-margin~='bottom_8_rem']{margin-bottom: 8rem;}
[css-margin~='bottom_9_rem']{margin-bottom: 9rem;}
[css-margin~='bottom_10_rem']{margin-bottom: 10rem;}

[css-padding~='1_rem']{padding: 1rem;}
[css-padding~='2_rem']{padding: 2rem;}
[css-padding~='3_rem']{padding: 3rem;}
[css-padding~='4_rem']{padding: 4rem;}
[css-padding~='5_rem']{padding: 5rem;}
[css-padding~='6_rem']{padding: 6rem;}
[css-padding~='7_rem']{padding: 7rem;}
[css-padding~='8_rem']{padding: 8rem;}
[css-padding~='9_rem']{padding: 9rem;}
[css-padding~='10_rem']{padding: 10rem;}
[css-padding~='left_1_rem']{padding-left: 1rem;}
[css-padding~='left_2_rem']{padding-left: 2rem;}
[css-padding~='left_3_rem']{padding-left: 3rem;}
[css-padding~='left_4_rem']{padding-left: 4rem;}
[css-padding~='left_5_rem']{padding-left: 5rem;}
[css-padding~='left_6_rem']{padding-left: 6rem;}
[css-padding~='left_7_rem']{padding-left: 7rem;}
[css-padding~='left_8_rem']{padding-left: 8rem;}
[css-padding~='left_9_rem']{padding-left: 9rem;}
[css-padding~='left_10_rem']{padding-left: 10rem;}
[css-padding~='top_1_rem']{padding-top: 1rem;}
[css-padding~='top_2_rem']{padding-top: 2rem;}
[css-padding~='top_3_rem']{padding-top: 3rem;}
[css-padding~='top_4_rem']{padding-top: 4rem;}
[css-padding~='top_5_rem']{padding-top: 5rem;}
[css-padding~='top_6_rem']{padding-top: 6rem;}
[css-padding~='top_7_rem']{padding-top: 7rem;}
[css-padding~='top_8_rem']{padding-top: 8rem;}
[css-padding~='top_9_rem']{padding-top: 9rem;}
[css-padding~='top_10_rem']{padding-top: 10rem;}
[css-padding~='right_1_rem']{padding-right: 1rem;}
[css-padding~='right_2_rem']{padding-right: 2rem;}
[css-padding~='right_3_rem']{padding-right: 3rem;}
[css-padding~='right_4_rem']{padding-right: 4rem;}
[css-padding~='right_5_rem']{padding-right: 5rem;}
[css-padding~='right_6_rem']{padding-right: 6rem;}
[css-padding~='right_7_rem']{padding-right: 7rem;}
[css-padding~='right_8_rem']{padding-right: 8rem;}
[css-padding~='right_9_rem']{padding-right: 9rem;}
[css-padding~='right_10_rem']{padding-right: 10rem;}
[css-padding~='bottom_1_rem']{padding-bottom: 1rem;}
[css-padding~='bottom_2_rem']{padding-bottom: 2rem;}
[css-padding~='bottom_3_rem']{padding-bottom: 3rem;}
[css-padding~='bottom_4_rem']{padding-bottom: 4rem;}
[css-padding~='bottom_5_rem']{padding-bottom: 5rem;}
[css-padding~='bottom_6_rem']{padding-bottom: 6rem;}
[css-padding~='bottom_7_rem']{padding-bottom: 7rem;}
[css-padding~='bottom_8_rem']{padding-bottom: 8rem;}
[css-padding~='bottom_9_rem']{padding-bottom: 9rem;}
[css-padding~='bottom_10_rem']{padding-bottom: 10rem;}

[css-text~='poppins']{font-family: "poppins", sans-serif;}
[css-text~='acme']{font-family: "Acme", sans-serif;}
[css-text~='karla']{font-family: "Karla", sans-serif;}
[css-text~='capitalize']{text-transform: capitalize;}
[css-text~='uppercase']{text-transform: uppercase;}
[css-text~='lowercase']{text-transform: lowercase;}
[css-text~='300']{font-weight: 300;}
[css-text~='400']{font-weight: 400;}
[css-text~='500']{font-weight: 500;}
[css-text~='bold']{font-weight: bold;}
[css-text~='800']{font-weight: 800;}
[css-text~='900']{font-weight: 900;}
[css-text~='start']{text-align: start;}
[css-text~='center']{text-align: center;}
[css-text~='end']{text-align: end;}

[css-text~='shadow_dark']{text-shadow: 0 0 10px var(--background-counter);}

[css-text~='60_px']{font-size: 60px;}
[css-text~='50_px']{font-size: 50px;}
[css-text~='45_px']{font-size: 45px;}
[css-text~='44_px']{font-size: 44px;}
[css-text~='40_px']{font-size: 40px;}
[css-text~='32_px']{font-size: 32px;}
[css-text~='30_px']{font-size: 30px;}
[css-text~='28_px']{font-size: 28px;}
[css-text~='26_px']{font-size: 26px;}
[css-text~='24_px']{font-size: 24px;}
[css-text~='22_px']{font-size: 22px;}
[css-text~='20_px']{font-size: 20px;}
[css-text~='18_px']{font-size: 18px;}
[css-text~='16_px']{font-size: 16px;}
[css-text~='14_px']{font-size: 14px;}
[css-text~='12_px']{font-size: 12px;}

[css-list]{list-style: none;}

[css-border~='solid']{border-style: solid;}
[css-border~='1_px']{border-width: 1px;}
[css-border~='2_px']{border-width: 2px;}
[css-border~='radius_5_px']{border-radius: 5px;}
[css-border~='light']{border-color: var(--background);}

[css-border~='bottom_solid']{border-bottom-style: solid;}
[css-border~='bottom_5_px']{border-bottom-width: 5px;}
[css-border~='bottom_radius_5_px']{border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
[css-border~='bottom_light']{border-bottom-color: var(--background);}

[css-opacity~='0_8']{opacity: .8;}
[css-opacity~='normal_on_hover']:hover{opacity: 1;}