[data-carousel]
{
    width: 100%;
    height: 100%;
    position: relative;
}

[data-slide]
{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all ease-in-out .2s;
    transition-delay: .2s;
}

[data-slide] > div
{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

[data-slide][data-active]
{
    opacity: 1;
    z-index: 1;
    transition-delay: 0s;
}

[data-carousel-button]
{
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    fill: rgba(255, 255, 255, .5);
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

[data-carousel-button]:hover,
[data-carousel-button]:focus
{
    fill: white;
    background-color: rgba(0, 0, 0, .2);
}

[data-carousel-button]:focus
{
    outline: 1px solid white;
}

[data-carousel-button='previous']
{
    left: 5rem;
}

[data-carousel-button='next']
{
    right: 5rem;
}