:root
{
    --background: #bbe4e9;
    --background-counter: #191D88;
    --background-counter-alter: #1f2f63;
    --primary: #30c4ea;
    --secondary: #fafcfe;
    --secondary-alter: #fafcfecc;
    --accent: #9c6d00;
    
    --text: #191D88;
    --text-counter: #bbe4e9;
    --text-primary: #30c4ea;
    --text-secondary: #fafcfe;
    --text-accent: #9c6d00;

    --value: 975;
}